#bottom-console {
	position: fixed;
	bottom: 10px;
	width: 100%;
	z-index: 100;

	.container {
		background-color: $main;
		overflow: hidden;
		border-radius: 10px;
		@include dropShadow($black);
		color: $white;

		.wrapper {
			display: flex;
			justify-content: space-between;

			.bc-btn {
				padding: 15px;
				text-align: center;
				cursor: pointer;
				transition: 0.3s ease;
				font-size: xx-large;
				&:hover {
					background-color: rgba($color: $white, $alpha: 0.3);
				}
			}
		}
	}
}
