footer {
	background-color: $main;
	padding: 30px 0;
	z-index: 10000;
	position: relative;

	text-align: center;
	.container {
		.wrapper {
			& > *:not(:first-child) {
				margin-top: 10px;
				display: block;
			}
			a {
				text-decoration: none;
			}

			a,
			p {
				color: $white;
			}

			.links {
				display: flex;
				justify-content: center;
				a {
					font-size: large;
					margin-right: 10px;
				}
			}
		}
	}
}
